<div id="<%= dom_id draft_article %>">
  <p>
    <strong>content:</strong>
    <%= draft_article.content %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= draft_article.article_id %>
  </p>

</div>
