<h1>Editing draft article</h1>

<%= render "form", draft_article: @draft_article %>

<br>

<div>
  <%= link_to "Show this draft article", @draft_article %> |
  <%= link_to "Back to draft articles", draft_articles_path %>
</div>
