<p style="color: green"><%= notice %></p>

<h1>Draft articles</h1>

<div id="draft_articles">
  <% @draft_articles.each do |draft_article| %>
    <%= render draft_article %>
    <p>
      <%= link_to "Show this draft article", draft_article %>
    </p>
  <% end %>
</div>

<%= link_to "New draft article", new_draft_article_path %>
